#!/bin/bash
#
# An example hook script for the "post-receive" event.
#
# The "post-receive" script is run after receive-pack has accepted a pack
# and the repository has been updated.  It is passed arguments in through
# stdin in the form
#  <oldrev> <newrev> <refname>
# For example:
#  aa453216d1b3e49e7f6f98441fa56946ddcd6a20 68f7abf4e6f922807889f52bc043ecd31b79f814 refs/heads/master
#
# see contrib/hooks/ for a sample, or uncomment the next line and
# rename the file to "post-receive".

nl=$'\n'
input=""
while read newref oldref refname ; do
    input="$input$newref $oldref $refname$nl"
done


echo -n "$input" | /usr/share/doc/git-core/contrib/hooks/post-receive-email 
echo -n "$input" | /usr/share/doc/git-core/contrib/hooks/post-receive-redmine


# namespace 
if [ $(git rev-parse --is-bare-repository) = true ]
then
    namespace=$(basename "$PWD") 
    namespace=${namespace%.git}
else
    namespace=$(basename $(readlink -nf "$PWD"/..))
fi

export NAMESPACE=$namespace

export JSON="{\"parameter\": [{\"name\": \"Configuration\", \"value\": \"Release\"},
{\"name\": \"DistributionBuild\", \"value\": \"FALSE\"}], \"\": \"\"}"

export TOKEN="EGGPLANT"
echo -n "$input" | /usr/share/doc/git-core/contrib/hooks/post-receive-hudson 


